@import '../../App.scss';

.header-cont {
    width: 100vw;
    height: 50px;
    background-color: $brand-color;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 90vw;
        height: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        color: $white-color;

        h1 {
            font-size: 1.5em;
            font-family: $header-font;
            font-style: italic;
        }
    }

    nav {
        width: 150px;
        height: 100px;
        background-color: $dark-color;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 5px;

        div {
            margin-top: 15px;
            text-decoration: none;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            color: $white-color;
            font-family: $content-font;

            p {
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
    }
}